:root {
}

body {
  // overflow: hidden;
  background: #222;
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  // padding: 20vh 0;
}

.list {
  li {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 50vmin;
    height: auto;
  }
}